/*this is a comment. The browser engine will not interprete it*/
body{
	background-image: url(../img/ani-4.jpg);
	background-size: 85%;
		}
		h1,h2{
			background-color:white;
		}
		.bio{
			margin-bottom: 10px;
		}
		.fi{
			border-radius: 10px;
		}